.content.wrapper
  .content-c
    .cc-top
      - if @user.avatar_file_name && (@user.errors[:avatar_content_type].blank? && @user.errors[:avatar_file_size].blank?)
        %img.profile-img.img-a.flt-left{:src => @user.try(:avatar).url(:thumb) , :style => "width:100px;height: 100px;"}/
      - else
        %img.profile-img.img-a.flt-left{:src => "/assets/profile.png"}/
      %h2.label-34 Welcome #{@user.fullname}!
      %h5.label-20 Location: #{@user.location}
      %a.label-35{:href => "#"} My Account    
    .cc-left      
      %ul.ul-f
        %li
          %a{:href => "#"} Post
          %i.bg-arrow-down-b
        %li.ulf-selected
          %a{:href => "#", :class=>"uli-selected"} Events
          %i.bg-arrow-down-b
        %li
          %a{:href => "#"} Photos
          %i.bg-arrow-down-b
        %li
          -if @is_primary_coord || @is_secondary_coord
            %a{:href => "#", :chapter_id => @chapter.id ,:id =>"group_admin_ref"} Group Admin
            %i.bg-arrow-down-b                   
      
      %ul.ul-i.profile_content
        - @user_chapters.each do |chaptermember|
          %li
            %a{:href => "#{userevents_events_url(chaptermember.chapter.id)}", :id=>"#{chaptermember.chapter.id}", :class=>"chapter_link"} #{chaptermember.chapter.name}
      
      #event_content                
    /=render "/events/comment_partial"

:javascript 
  Chapters.init(); 
  Chapters.firstChapterClick();
  Events.init();
  Posts.init();