.footer
  .wrapper
    .f-left.flt-left
      %h5.label-15= t('footer.copyright')
      %ul.ul-d
        %li{:style => "margin-left: 0px;"}
          %a{:href => "#"}= t('footer.faq')
        %li
          |
        %li
          %a{:href => "#"}= t('footer.forums')
        %li
          |
        %li
          %a{:href => "#"}= t('footer.blog')
        %li
          |
        %li
          %a{:href => "#"}= t('footer.jobs')
        %li
          |
        %li
          %a{:href => "#"}= t('footer.legal')
        %li
          |
        %li
          %a{:href => "#"}= t('footer.terms')
        %li
          |
        %li
          %a{:href => "#"}= t('footer.privacy')
    .f-right.flt-right.span-3.social-icons
      %a.twitter.replaced{:href => "http://twitter.com/#!cloudfoundry", :rel => "external", :target => "_blank"}
      %a.facebook.replaced{:href => "http://facebook.com/cloudfoundry", :rel => "external", :target => "_blank"}
      %a.youtube.replaced{:href => "http://www.youtube.com/cloudfoundry", :rel => "external", :target => "_blank"}