.header
  .header-a
    .wrapper
      .bg-logo.flt-left
        %a{:href => "#{root_url}"}
          %img{:src => "/assets/logo.png"}
      %h5.flt-right.label-2
        %form
          %select.target.label-2
            - if params[:locale].blank? || params[:locale] == 'en'
              %option{:value => "en" , :selected=>'selected'} EN
              %option{:value => "CN"} ZH-CN
            - else
              %option{:value => "en"} EN
              %option{:value => "CN",  :selected=>'selected'} ZH-CN
      %ul.ul-a.flt-right        
        - if !current_user.blank?
          %li
            %a.label-2.logout{:href => "#{profile_path}"}= t('menu.myprofile')
          %li
            %label.label-2.bold{:style => "position: relative;top: -2px;font-size: 18px;color:#afafaf;"}
              |
          %li
            %a.label-2.logout{:href => "#"}= t('menu.logout')
        - else
          %li
            %a.label-2.signup{:href => "#"}= t('menu.signup')
          %li
            %label.label-2.bold{:style => "position: relative;top: -2px;font-size: 18px;color:#afafaf;"}
              |
          %li
            %a.label-2.signin{:href => "#"}= t('menu.login')
  .header-b
    .wrapper
      %ul.ul-b.flt-left
        %li{:class => "#{active_class("index","home")}"}
          %a{:href => "#{root_path}"}= t('menu.home')
        %li{:class => "#{active_class("directory","home")}"}
          %a{:href => "#{directory_path}"}= t('menu.directory')
        %li{:class => "#{active_class("wiki","home")}"}
          %a{:href => "#{wiki_path}"}= t('menu.wiki')        
        %li{:class => "#{active_class("admin","admin")}"}
          %a{:href => "#{new_admin_session_path}"}= t('menu.admin')
        %li{:class => "#{active_class("about","home")}"}
          %a{:href => "#{about_path}"}= t('menu.about')