.content.wrapper
  .content-a
    .ca-top
      .ca-left.flt-left
        = gmaps4rails(@markers)
        - content_for :javascript do        
          :javascript
              function redirect_to(url) {
                return function(){window.location = url;}
              };
              Gmaps.map.callback = function() {        
                for (var i = 0; i <  Gmaps.map.markers.length; i++) {
                   google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click',   redirect_to(Gmaps.map.markers[i].link));
                }
              };
     

        %ul{:id => "markers_list"}
      .ca-right.flt-right
        %h2.label-3
          = t('welcome.desc')
          %label.label-4{:style=> "font-size:35px;"}= t('welcome.title')
        %h5.label-5
          = t('welcome.about')
        - if current_user.blank?
          %button.btn-a.signup
            = "#{t('menu.signup')}!"
    -if true #!current_user.blank? && !ChapterMember.is_primary_coordinator?(current_user.id)
      .ca-bottom
        .ca-down
          %h2.label-6= t('chapter.create_title')
          %h5.label-7= t('chapter.create_desc')          
          = link_to  t('chapter.create_create') , new_chapter_path, :class => "btn-b"

    - elsif current_user.blank?
      .ca-bottom
        .ca-down
          %h2.label-6= t('chapter.create_title')
          %h5.label-7= t('chapter.create_desc')    
          %button.btn-b.signin= t('chapter.create_create')
  .content-b
    .cb-left.flt-left
      %h2.label-8= t('announcements.heading')
      %div
        %img.img-a.flt-left{:src => "assets/img-a.png"}
          %h3.label-9 CFDG Launched in India
          %h5.label-10 October 2, 2012
          %h5.label-1 We are excited to announce launch of Cloud Foundry Developer Groups in India. This site is focussed on helping these groups coordinate and share their online activities about Cloud Foundry, create a new event or update Photos from the existing events.
    .cb-right.flt-right
      %h2.label-8= t('announcements.earlier')
      %ul.ul-c
        - if @announcements.blank?
          %li
            %div
              %h3.label-12 No Earlier Announcements
        - else
          - @announcements.each do |ann|
            %li
              %div
                %h3.label-12
                  %img.img-c{:src => "assets/img-b.png"}
                    = ann.title
                    %label.label-13 October 2, 2012
                %h5.label-16= ann.body