.content.wrapper
  .content-a
    .ca-top
      .ca-left.flt-left
        = gmaps4rails(@markers)
        - content_for :javascript do        
          :javascript
              function redirect_to(url) {
                return function(){window.location = url;}
              };
              Gmaps.map.callback = function() {        
                for (var i = 0; i <  Gmaps.map.markers.length; i++) {
                   google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click',   redirect_to(Gmaps.map.markers[i].link));
                }
              };
     

        %ul{:id => "markers_list"}
      .ca-right.flt-right
        %h2.label-3
          = t('welcome.desc')
          %label.label-4= t('welcome.title')
        %h5.label-5
          = t('welcome.about')
        - if current_user.blank?
          %button.btn-a.signup
            = "#{t('menu.signup')}!"
    -if true #!current_user.blank? && !ChapterMember.is_primary_coordinator?(current_user.id)
      .ca-bottom
        .ca-down
          %h2.label-6= t('chapter.create_title')
          %h5.label-7= t('chapter.create_desc')          
          = link_to  t('chapter.create_create') , new_chapter_path, :class => "btn-b"

    - elsif current_user.blank?
      .ca-bottom
        .ca-down
          %h2.label-6= t('chapter.create_title')
          %h5.label-7= t('chapter.create_desc')    
          %button.btn-b.signin= t('chapter.create_create')
  .content-b
    .cb-left.flt-left
      %h2.label-8= t('announcements.heading')
      %div
        %img.img-a.flt-left{:src => "assets/img-a.png"}
          %h3.label-9 Title of articles
          %h5.label-10 October 2, 2012
          %h5.label-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .cb-right.flt-right
      %h2.label-8= t('announcements.earlier')
      %ul.ul-c
        %li
          %div
            %h3.label-12
              %img.img-c{:src => "assets/img-b.png"}
                Title of articles-
                %label.label-13 October 2, 2012
            %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin t amet, consectetur adi.
        %li
          %div
            %h3.label-12
              %img.img-c{:src => "assets/img-b.png"}
                Title of articles-
                %label.label-13 October 2, 2012
            %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin. t amet, consectetur adi
        %li
          %div
            %h3.label-12
              %img.img-c{:src => "assets/img-b.png"}
                Title of articles-
                %label.label-13 October 2, 2012
            %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin. t amet, consectetur adi
    

             
