- content_present = @event.agenda_and_speakers.present?
%p.label-9{:style=>"font-size:20px;"} 
  Agenda and Speakers
  -if @current_user.present? and @event.can_i_delete?(@current_user.id, @event.chapter_id) and @event.agenda_and_speakers.present?
    %a.label-9{:style=>"font-size:15px;margin-left: 322px;font-weight: normal;", :href => "#", :id=>"edit_agenda"}  EDIT
  
%br
#agenda_content
  = render :inline => "#{@event.agenda_and_speakers}"    
-if @current_user.present? and @event.can_i_delete?(@current_user.id, @event.chapter_id)
  - display_val = content_present ? "display:none" : "display:block"
  - submit_val  =  content_present ? "UPDATE" : "CREATE"
  #agenda_text_area{:style=>"#{display_val}"}
    = semantic_form_for  @event do |f|
      = f.input :agenda_and_speakers, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Easy' }
      = f.submit "#{submit_val}" ,:class=>"btn-a-small flt-right", :style => "margin-right:10px;", :id=>"event_agnda_form_submit"
  %br
  %p.label-9{:href => '#', :style=>"font-size:20px;", :id=>"attendees_list"} 
    Attendees List
  %br
  = text_area_tag 'attendes_emails', @emails, :style => "width:940px;padding-top:4px;", :readonly => 'readonly'

:javascript
  Events.init();