#events
  - if @upcoming_events.blank? && @past_events.blank?
    .marg-top
      %h1.label-44{:style=> "font-size:18px;"} No Events
  -if !@upcoming_events.blank?
    .marg-top
      %h1.label-44{:style=> "font-size:18px;"} Upcoming Events
    %ul.ul-g{:style => "margin-top:-20px;" ,:id=>"two_events"}
      - @two_upcoming_events.each do |event|    
        %li
          .div-c
            -if(!event.event_start_date.blank?)
              %h1.label-23 #{Time.parse(event.event_start_date.to_s).strftime('%d')}
              %h4.label-24 #{Time.parse(event.event_start_date.to_s).strftime('%b')}
          .div-h
            %a.label-9.event_expand{:href => "#", :event_id=> event.id} #{event.title} 
            -if !current_user.blank? and @profile_page != true  and event.chapter.am_i_chapter_memeber?(@current_user.id) and !event.am_i_member?(@current_user.id)      
              %button.btn-a-small.flt-right{:id=>"follow_an_event", :event_id => "#{event.id}"} CLICK TO ATTEND
            -if !current_user.blank?   and event.can_i_delete?(@current_user.id, event.chapter_id)      
              %button.btn-a-small.flt-right{:id=>"delete_an_event", :event_id => "#{event.id}"} DELETE
            %br
            %label.label-25
              -if(!event.event_start_date.blank?)
                #{Time.parse(event.event_start_date.to_s).strftime('%A %I:%M %p,%b %d, %Y')} I #{event.entry_fee}  per person
              Location: #{event.venue}
            %p.label-26{:id => "short_content"}
              #{raw truncate(event.description, :length => 30, :omission => '...')}
            

    %ul.ul-g{:style => "margin-top:-20px;display:none" ,:id=>"all_events"}
      - @upcoming_events.each do |event|
        %li
          .div-c
            -if(!event.event_start_date.blank?)
              %h1.label-23 #{Time.parse(event.event_start_date.to_s).strftime('%d')}
              %h4.label-24 #{Time.parse(event.event_start_date.to_s).strftime('%b')}
          .div-h
            %a.label-9.event_expand{:href => "#", :event_id => event.id} #{event.title}  
            -if !current_user.blank? and  @profile_page != true  and event.chapter.am_i_chapter_memeber?(@current_user.id) and !event.am_i_member?(@current_user.id)                    
              %button.btn-a-small.flt-right{:id=>"follow_an_event", :event_id => "#{event.id}"} CLICK TO ATTEND
            -if !current_user.blank?   and event.can_i_delete?(@current_user.id, event.chapter_id)      
              %button.btn-a-small.flt-right{:id=>"delete_an_event", :event_id => "#{event.id}"} DELETE
            %br
            %label.label-25
              -if(!event.event_start_date.blank?)
                #{Time.parse(event.event_start_date.to_s).strftime('%A %I:%M %p,%b %d, %Y')} I #{event.entry_fee}  per person
              Location: #{event.venue}
            %p.label-26{:id => "full_content"}
              #{event.description}

    %ul
      %li.flt-right{:style => "margin-top:10px;"}
        %a.label-27{:href => "#" ,:id=>"upcoming_events"} See all upcoming events...   

  #past_events
    = render "events/past_events"
  