-if @eb_client.nil?
  = link_to 'Connect to Eventbrite', "#{@accept_url}"  
-else
  = semantic_form_for @event ,:remote=> true do |f| 
    .event-form
      .event-left
        .el-cont{:style => "margin-bottom: 10px;"}         
          %h2.label-45.flt-left Create Event
          .dd-chapter-ad
            %h5
              New Event
              %img.arrow-down-chap-ad-img.flt-right{:src => "/assets/arrow-down-d.png"}/
        .el-cont
          %label.flt-left.label-26 Starts On

          = f.input :event_start_time ,  :placeholder => "00:00 pm", :label => false,   :input_html => {:class => "input-b size-b size-of-inputs flt-right",:style => " margin:0px 10px 0px 10px;", }
          = f.input :event_start_date , :input_html => {:class => "input-b size-b size-of-inputs flt-right"} , :placeholder => "dd/mm/yyyy", :label => false 
         
      .event-right
        .el-cont{:style => "margin-top:45px;"}
          %label.flt-left.label-26 Ends On          
          = f.input :event_end_time ,  :placeholder => "00:00 pm", :label => false , :input_html => {:class => "input-b size-b size-of-inputs flt-right", :style => " margin:0px 10px 0px 10px;", }          
          = f.input :event_end_date , :input_html => {:class => "input-b size-b size-of-inputs flt-right"} , :placeholder => "dd/mm/yyyy", :label => false 
      .event-bottom
    .event-form
      .event-left
        .el-cont{:style => "text-align: center;margin-top:10px;"}
          %div{:style => " width: 250px;height:160px;background: #ccc;margin: 0 auto;"}
          %label.label-14 Upload Image
        .el-cont
        .el-cont{:style => "margin-top: 12px;"}
          %label.flt-left.label-26 Entry Fee
          = f.input :entry_fee , :input_html => {:class => "input-b size-d" }, :placeholder => "Rs. 0", :label => false, :style => "margin-left:10px"
          /%input.input-b.size-d{:placeholder => "Rs. 0", :style => "margin-left:10px"}
      .event-right 
        .el-cont
          %h5.label-26.flt-left Location
          .dd-chapter-ad
            %h5.label-11
              New Event
              %img.arrow-down-chap-ad-img.flt-right{:src => "/assets/arrow-down-d.png"}/
        .el-cont
          = f.input :venue , :input_html => {:class => "input-b size-text-event-create"} , :placeholder => "Venue Name", :label => false 
          
        .el-cont
          = f.input :address_line1 , :input_html => {:class => "input-b size-text-event-create"} , :placeholder => "Address Line 1", :label => false  
          
        .el-cont
          = f.input :address_line2 , :input_html => {:class => "input-b size-text-event-create"} , :placeholder => "Address Line 2", :label => false        
          
        .el-cont
          = f.input :city_name ,:input_html => { :class => "input-b size-text-event-create" }, :placeholder => "Type to select a city", :label => false        
          = f.hidden_field :chapter_id
        .el-cont
          = f.input :postal_code , :input_html => {:class => "input-b size-text-event-create"} , :placeholder => "Postal code", :label => false        
    .event-form{:style => "padding-top:10px; padding-bottom: 20px;"}
      .el-cont
        = f.input :title , :input_html => {:class => "input-b size-f"} , :placeholder => "Event Title", :label => false    
      .el-cont
        = f.text_field :description , :class => "input-b size-f" , :placeholder => "Event description", :style => "height: 40px;margin:5px 0px;", :label => false
      %div{:style => "width:628px; overflow: hidden;"}
        %button.btn-a-small.flt-right{:style => "margin-right:10px;", :id=>"event_form_submit"} CREATE
        %button.btn-a-small.flt-right{:style => "margin-right:10px;"} DISCARD






