%li.ulg-expanded{:style => "margin-top: -3px;"}
  .div-c
    -if(!@event.event_start_date.blank?)
      %h1.label-23 #{Time.parse(@event.event_start_date.to_s).strftime('%d')}
      %h4.label-24 #{Time.parse(@event.event_start_date.to_s).strftime('%b')}
  .div-h
    %a.label-9.event_expand{:href => "#", :event_id=> @event.id} #{@event.title}  
    -if !current_user.blank? and @profile_page != true  and !@event.am_i_member?(@current_user.id)                    
      %button.btn-a-small.flt-right{:id=>"follow_an_event", :event_id => "#{@event.id}"} FOLLOW
    %br
    %p.label-26{:id => "short_content"}
      Attendees: #{@event.event_members.size}
      %br
      -if(!@event.event_start_date.blank?)
        #{Time.parse(@event.event_start_date.to_s).strftime('%A %I:%M %p,%b %d, %Y')} I #{@event.entry_fee}  per person
      %br
      Location: #{@event.venue}
      %br
      #{@event.description}
      %br
  .div-d
    - (@event.comments || []).each do |comment|
      .divd-comment-pos
        %br
        %table.table-c
          %tr
            %td
              %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %td
              %h5.label-27
                #{comment.user.fullname} - 
                
                %label.label-25 #{Time.parse(comment.created_at.to_s).strftime('%d, %b')}
              %p.label-16
                #{comment.content}
    - @comment =  @event.comments.build
    -if @current_user.present?
      = semantic_form_for  @comment, :remote => true do |f|      
        = f.text_area :content, :placeholder => "comment", :label => false, :class => " content_comment_class ta-a"
        = f.hidden_field   :commentable_type
        = f.hidden_field   :commentable_id      

              
  / .lining
  /   %img.img-b{:src => "/assets/img-g.png"}
  /   %img.img-b{:src => "/assets/img-g.png"}
  /   %img.img-b{:src => "/assets/img-g.png"}
  /   %img.img-b{:src => "/assets/img-g.png"}
  /   %img.img-b{:src => "/assets/img-g.png"}
  / .div-d
  /   .divd-comment-pos
  /     %table.table-c
  /       %tr
  /         %td
  /           %img.img-c.flt-left{:src => "css/images/img-d.png"}
  /         %td
  /           %h5.label-27
  /             Rohit -
  /             %label.label-25 Delhi, 23 Sep
  /           %p.label-16
  /             Does JXTA supports voice chat?: I'm developing a LAN mes
  /             senger in java. I'm followi
  /             ng P2P, Does JXTA support
  /             ice chat?: I'm developing a LAN mes
  /             senger in java. I'm followi
  /             ng P2P, Does JXTA suppos voice chat?: I'm d
  /   .divd-comment-pos
  /     %table.table-c
  /       %tr
  /         %td
  /           %img.img-c.flt-left{:src => "css/images/img-d.png"}
  /         %td
  /           %h5.label-27
  /             Rohit -
  /             %label.label-25 Delhi, 23 Sep
  /           %p.label-16
  /             Does JXTA supports voice chat?: I'm developing a LAN mes
  /             senger in java. I'm followi
  /             ng P2P, Does JXTA support
  /             ice chat?: I'm developing a LAN mes
  /             senger in java. I'm followi
  /             ng P2P, Does JXTA suppos voice chat?: I'm d
  /             %textarea.ta-a{:placeholder => "alpha"}
