%li.ulg-expanded
  .div-c
    -if(!@event.event_start_date.blank?)
      %h1.label-23 #{Time.parse(@event.event_start_date.to_s).strftime('%d')}
      %h4.label-24 #{Time.parse(@event.event_start_date.to_s).strftime('%b')}
  .div-h
    %a.label-9.event_expand{:href => "#", :event_id=> @event.id} #{@event.title}  
    -if !current_user.blank? and @profile_page != true  and !@event.am_i_member?(@current_user.id)                    
      %button.btn-a-small.flt-right{:id=>"follow_an_event", :event_id => "#{@event.id}"} FOLLOW
    %br
    %p.label-26{:id => "short_content"}
      Attendees: #{@event.event_members.size}
      %br
      -if(!@event.event_start_date.blank?)
        #{Time.parse(@event.event_start_date.to_s).strftime('%A %I:%M %p,%b %d, %Y')} I #{@event.entry_fee}  per person
      %br
      Location: #{@event.venue}
      %br
      #{@event.description}
  / .lining
  /   %img.img-b{:src => "/assets/img-g.png"}
  /   %img.img-b{:src => "/assets/img-g.png"}
  /   %img.img-b{:src => "/assets/img-g.png"}
  /   %img.img-b{:src => "/assets/img-g.png"}
  /   %img.img-b{:src => "/assets/img-g.png"}
  / .div-d
  /   .divd-comment-pos
  /     %table.table-c
  /       %tr
  /         %td
  /           %img.img-c.flt-left{:src => "css/images/img-d.png"}
  /         %td
  /           %h5.label-27
  /             Rohit -
  /             %label.label-25 Delhi, 23 Sep
  /           %p.label-16
  /             Does JXTA supports voice chat?: I'm developing a LAN mes
  /             senger in java. I'm followi
  /             ng P2P, Does JXTA support
  /             ice chat?: I'm developing a LAN mes
  /             senger in java. I'm followi
  /             ng P2P, Does JXTA suppos voice chat?: I'm d
  /   .divd-comment-pos
  /     %table.table-c
  /       %tr
  /         %td
  /           %img.img-c.flt-left{:src => "css/images/img-d.png"}
  /         %td
  /           %h5.label-27
  /             Rohit -
  /             %label.label-25 Delhi, 23 Sep
  /           %p.label-16
  /             Does JXTA supports voice chat?: I'm developing a LAN mes
  /             senger in java. I'm followi
  /             ng P2P, Does JXTA support
  /             ice chat?: I'm developing a LAN mes
  /             senger in java. I'm followi
  /             ng P2P, Does JXTA suppos voice chat?: I'm d
  /             %textarea.ta-a{:placeholder => "alpha"}
