-if !@past_events.blank?
  .marg-top
    %h1.label-44{:style => "font-size:18px;"} Past Events
  %ul.ul-g{:style => "margin-top:-14px;"}
    - @past_events.each do |event|
      %li{:class => "my"}
        .div-c 
          -if(!event.event_start_date.blank?)
            %h1.label-23 #{Time.parse(event.event_start_date.to_s).strftime('%d')}
            %h4.label-24 #{Time.parse(event.event_start_date.to_s).strftime('%b')}
          -else
            %h1.label-23  
            %h4.label-24 

        .div-h
          %a.label-9.event_expand{:href => "#", :event_id => event.id} #{event.title}
          / -if  !current_user.blank? and @profile_page != true and !event.am_i_member?(@current_user.id)
          /   %button.btn-a-small.flt-right{:style => "margin-left: 10px;", :id=>"follow_an_event", :event_id => "#{event.id}"} FOLLOW
          %br
          %a.flt-right{:href => "#", :style => "padding-left:10px"}
            %span
              %img{:src => "/assets/camera.png"}/
          %a.flt-right{:href => "#", :style => "padding-left:10px"}
            %span
              %img{:src => "/assets/youtube.png"}/
          %label.label-25 Attendees: #{event.event_members.size}
          %p.label-26{:id => "full_content"}
            #{event.description} 
  = will_paginate(@past_events, :class => 'pgt-bar',:inner_window => 2, :outer_window => 0, :renderer => RemoteLinkRenderer, :previous_label => '&lt; PREVIOUS'.html_safe, :next_label => 'NEXT &gt;'.html_safe)