= semantic_form_for [:admin, @announcement] ,:html => { :multipart => true }, :remote => true do |f|
  %div{:style => "width:600px;padding:30px 40px 50px 30px;margin:0 auto;background-color: #fff;"}
    .validation-error
    .success-flash
    = f.input :title, :placeholder => 'Type in your Announcement' ,  :label =>false ,  :input_html => {:class => "to", :style => "width:100%;margin-bottom: 5px;color:#666666;"}
    = f.input :body, :placeholder => 'Type in you message' ,  :label =>false ,  :input_html => {:class => "cmps label-26", :style => "width: 100%;height:100px;color:#666666;"}
    = f.input :user_id, :as => :hidden, :value => session[:admin_user_id]
    = f.input :photo , :as => :file,  :label =>false , :input_html => {:style => "display:none;"}
    .btns{:style => "overflow: hidden;width:610px;"}
      %span.label-27{:id => "img-upload", :style => "cursor:pointer;text-decoration: underline;margin-top:5px;display: inline-block;"} Upload Image
      %button.btn-a-small.flt-right{:style => "margin:0px 0px 0px 10px;"}
        ANNOUNCE
      = f.action :cancel, :as => :link , :label => "DISCARD", :button_html => {:class => "btn-c-small flt-right" , :style => "margin-top:-23px;"}