.content.wrapper
  .content-a
    .Creation-form
      %h1.label-34 Chapter Creation
      %h3.label-11{:style => "padding-top: 25px;"} Founder Information
      .Info
        %h4.info_label Name: #{@current_user.fullname}
        %br
        %h4.info_label Email Id: #{@current_user.email}
      %h3.label-11{:style => "padding-top: 25px;"} Chapter Details
      = semantic_form_for @chapter do |f|
        - showclass = (f.object.chapter_type == "professional" ? "display:none" : "display:block")
        %div{:style => "margin:25px 0px 10px 0px; width:60%;"}
          = f.label  "Chapter Name" , :class => 'info_label', :style => "margin-right:10px;    line-height: 23px;"
          = f.input :name, :placeholder => 'Chapter Name' ,  :label =>false ,  :input_html => {:class => "textboxes flt-right", :style => "width: 76%;margin-top:-30px;margin-right:5px;"} 
        #Form_ch        
          .form_r            
            %span.info_label{:style => "margin-right:10px;    line-height: 33px;"} Chapter Type        
            %span.chapter_type{:style => "padding-left:0px"}         
              = f.radio_button :chapter_type , 'student', :checked =>true , :class => "radio"
              = f.label :student ,"Student" , :class => 'r_label'
              = f.radio_button :chapter_type , 'professional', :class => "radio"
              = f.label :professional ,"Professional" , :class => 'r_label'
          .drop_list
            .one_side
              %div               
                = f.country_select :country_name , priority: %w(US CA), prompt: 'Please select a country', :input_html =>  {:class => "textboxes"}
                = f.hidden_field :country_id, :value => 1
              %div
                = render partial: 'subregion_select', locals: {parent_region: f.object.country_name}
                = f.hidden_field :state_id,  :value => 1
              %div
                = f.input :city_name , :placeholder => 'City',  :label => false ,  :input_html =>  {:class => "textboxes"}   
                = f.hidden_field :city_id,  :value => 1              
            .two_side{:id => "ct_selection" , :style => "#{showclass}"}
              %div
                = f.input :locality ,  :placeholder => 'Locality' , :label => false ,  :input_html => {:class => "textboxes"}            
              %div
                = f.input :address,   :placeholder => 'Address' , :label => false,  :input_html => {:class => "textboxes"}
              %div
                = f.input :landmark,   :placeholder => 'Landmark' , :label => false,  :input_html => {:class => "textboxes"}
          %h3.label-11{:style => "padding-top: 20px;"} Chapter Proposal
          .proposal
            %h4.ch_label To: admin@cloudfoundry.com
            %div{:style=> "height:15px;"} &nbsp;
            = f.semantic_fields_for :messages do |msg|
              = msg.input :body, :label => false, :input_html => {  :class => "send_text" ,:style => "margin-bottom: 5px;padding-left: 5px;padding-top: 5px;width: 59%;height: 142px;" }
              %br
              = msg.input :sender_id , :as => :hidden, :value => current_user.id
              = msg.input :received_id , :as => :hidden, :value => @admin.id
            = f.submit 'SEND PROPOSAL' , :class => 'send'


