%p#notice= notice

.content.wrapper
  .content-c
    .cc-top
      %img{:src => "/assets/img-c.png", :style => "width:1010px;"}
        .div-b
          %img.bg-logo-b{:src => "/assets/logo-b.png"}
          %br/
          %button.btn-a
            JOIN US!
        .div-a
          %h2.label-17 #{@chapter.try(:name)}
          %h5.label-18 Location: #{@chapter.try(:city_name)} | Founded on #{Time.parse(@chapter.try(:created_at).to_s).strftime('%b %d, %Y')}
          %h5.label-20
            Founded by
            %a.label-20{:href => "#"}#{@chapter.user.try(:fullname)}
            on #{Time.parse(@chapter.try(:created_at).to_s).strftime('%b %d, %Y')}
          %h5.label-19
            Primary Group Coordinator:
            %label.label-20 #{@primary_coord.try(:user).email}
          -if @secondary_coord.present? 
            %h5.label-19
              Group Coordinator:
              %label.label-20
                @secondary_coord.each |coord| do   #{coord.user.email}           end
        %ul.ul-e.statistics
          %li
            %h2.label-21 #{@totalcount}
            %h5.label-39 Members
          %li
            %h2.label-21 #{@chapter.events.try(:size)}
            %h5.label-39 Events
          %li{:style => "width:192px;height:133px;"}
            %i.bg-img-e{:style => "width:182px;height:123px; "}
            .black-bar
              7 Photos in Event Name...
            .info-bar
              %h5.label-40 Status: Active
              %h5.label-40 Last Event Date: Sep 07, 2012
    .cc-left
      %ul.ul-f
        %li.ulf-selected
          %a{:href => "#"} Post
          %i.bg-arrow-down-b
        %li
          %a{:href => "#"} Events
          %i.bg-arrow-down-b
        %li
          %a{:href => "#"} Photos
          %i.bg-arrow-down-b
        %li
      = render '/events/events_list' 

    .cc-right
      %h2.label-29 Upcoming Event
      .div-e
        %h5.label-41 Something is happening in the group here...
        %table.table-a
          %tr
            %td
              %h5.label-19 Venue:
            %td
              %h5.label-20 Singh Bhavan, Vasant Road,Defence Colony, Delhi
          %tr
            %td
              %h5.label-19.flt-left Date:
            %td
              %h5.label-20 Saturday, Sept 30, 2012
          %tr
            %td
              %h5.label-19.flt-left Time:
            %td
              %h5.label-20 7pm
        .blue-bar-a
          %h1.label-23 30
          %h4.label-24 Sep
      %h2.label-29 Announcements
      %ul.ul-c
        %li
          %a.label-32{:href => "#"} Title of articles
          %a.label-33 Subramaniam Nath
          %label.label-33 , Posted on 20th September
          %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin t amet, consectetur adi.
        %li
          %a.label-32{:href => "#"} Title of articles
          %a.label-33 Subramaniam Nath
          %label.label-33 , Posted on 20th September
          %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin t amet, consectetur adi.
        %li
          %a.label-32{:href => "#"} Title of articles
          %a.label-33 Subramaniam Nath
          %label.label-33 , Posted on 20th September
          %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin t amet, consectetur adi.
      %h2.label-29 Live Comment Stream
      %ul.ul-h
        %li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %a.label-27{:href => "#"} Rohit -
            %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes
        %li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %a.label-27{:href => "#"} Rohit -
            %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes
        %li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %a.label-27{:href => "#"} Rohit -
            %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes
        %li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %a.label-27{:href => "#"} Rohit -
            %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes
        %li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %a.label-27{:href => "#"} Rohit -
            %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes
        %li.ulh-last-li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %h5.label-27
              Rohit -
              %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes








= link_to 'Edit', edit_chapter_path(@chapter)
\|
= link_to 'Back', chapters_path
