.content.wrapper
  .content-c
    .cc-top
      %img{:src => "/assets/img-c.png", :style => "width:1010px;"}
        .div-b
          %img.bg-logo-b{:src => "/assets/logo-b.png"}
          %br/
          -if !@is_part_of_chapter
            = form_tag join_a_chapter_chapters_path, :method => :post do
              = hidden_field_tag "chapter_id", "#{@chapter.id}"
              = submit_tag 'JOIN US!' , :class => 'btn-a' 
              
        .div-a
          %h2.label-17 #{@chapter.try(:name)}
          %h5.label-18 Location: #{@chapter.try(:city_name)} | Founded on #{Time.parse(@chapter.try(:created_at).to_s).strftime('%b %d, %Y')}
          %h5.label-20
            Founded by
            %a.label-20{:href => "#"}#{@chapter.user.try(:fullname)}
            on #{Time.parse(@chapter.try(:created_at).to_s).strftime('%b %d, %Y')}
          %h5.label-19
            Primary Group Coordinator:
            %label.label-20 #{@primary_coord.try(:user).email}
          -if @secondary_coord.present? 
            %h5.label-19
              Group Coordinator:
              %label.label-20
                @secondary_coord.each |coord| do   #{coord.user.email}           end
        %ul.ul-e
          %li
            %h2.label-21 #{@totalcount}
            %h5.label-39 Members
          %li
            %h2.label-21 #{@chapter.events.try(:size)}
            %h5.label-39 Events
          %li{:style => "width:192px;height:133px;"}
            %i.bg-img-e{:style => "width:182px;height:123px; "}
            .black-bar
              7 Photos in Event Name...
            .info-bar
              %h5.label-40 Status: Active
              %h5.label-40 Last Event Date: Sep 07, 2012
    .cc-left
      %ul.ul-f
        %li.ulf-selected
          %a{:href => "#"} Post
          %i.bg-arrow-down-b
        %li
          %a{:href => "#"} Events
          %i.bg-arrow-down-b
        %li
          %a{:href => "#"} Photos
          %i.bg-arrow-down-b
        %li
      = render '/events/events_list' 

    
:javascript 
  Chapters.init(); 
  Events.init();