-if  @profile_page== true
  %ul.ul-f
    %li.ulf-selected
      %a{:href => "#",  :class=>"uli-selected", :chapter_id => @chapter.id } Post
      %i.bg-arrow-down-b
    %li
      %a{:href => "#", :chapter_id => @chapter.id} Events
      %i.bg-arrow-down-b
    %li
      -if @current_user.present? and ChapterMember.am_i_coordiantor?(@current_user.id , @chapter.id)
        %a{:href => "#", :chapter_id => @chapter.id ,:id =>"group_admin_ref"} Chapter Admin
        %i.bg-arrow-down-b
%h2.label-44
  Upload Post & Media
  - if @current_user.present? and ChapterMember.am_i_coordiantor?(@current_user.id, @chapter.id) and !@chapter_home
    %a.label-46.flt-right{:href => "#", :id=> "create_post"} + Create Post
%table.table-f
  -(@posts || []).each do |post|
    %tr
      %td{:style => "width:95px;"}
        %h5.label-26 #{Time.parse(post.created_at.to_s).strftime('%b %d, %Y')}
      %td{:style => "width:400px;"}
        %a.label-46.block{:href => "#"} #{post.title}
        %h5.label-26
          Posted on #{Time.parse(post.created_at.to_s).strftime('%b %d, %Y')} by
          %a.label-25{:href => "#"} #{post.user.try(:fullname)}
        %h5.label-26 #{post.event.try(:title)}, #{Time.parse(post.created_at.to_s).strftime('%b %d, %Y')}
        
      /   %img{:src => "/assets/slideshare.png", :style => "margin-top:10px;"}
      /   %img{:src => "/assets/youtube.png", :style => "margin-top:10px;"}
      /   %img{:src => "/assets/camera.png", :style => "margin-top:10px;"}
      / %td{:style => "width:140px;"}
      /   %button.label-50 Upload Media
      / %td{:style => "width:30px;"}
      /   %a.bg-cross-b{:href => "#", :style => "margin-top:8px;"}
:javascript 
  Chapters.init(); 
  Events.init();
  Posts.init();
