.content.wrapper
  .content-d
    .cd-top
      %h1.label-42 Site Administrator
      #tabs
        %ul.ul-f
          %li.ulf-selected
            %a{:href => "#tabs-1"} Chapter Satus
            %i.bg-arrow-down-b
          %li
            %a{:href => "#{admin_mails_path}"} Mails
            %i.bg-arrow-down-b
          %li
            %a{:href => "#{admin_anouncements_path}"} Anouncement
            %i.bg-arrow-down-b
        #tabs-1
          #inner-tabs
            %ul.ul-i
              %li.ulf-selected
                %a{:href => "#inner-tab1"} Applied
              %li
                %a{:href => "#{incubate_admin_chapters_path}"} Incubate
              %li
                %a{:href => "#{active_admin_chapters_path}"} Active
              %li
                %a{:href => "#{delist_admin_chapters_path}"} Delist
            #inner-tab1
              %ul.ul-j
                - @chapters.each do |chapter|
                  - if chapter.incubated? || chapter.denied?
                    %li{:id => "chapter#{chapter.id}"}
                      %table.table-b
                        %tr
                          %td.tb-1-4
                            %a.bg-profile-img-b{:href => "#"}
                              %img.profile-img-b{:src => "/assets/img-d.png"}/
                          %td.tb-2-4
                            %a.label-43{:href => "#"}
                              = chapter.user.fullname
                            %h5.label-20= "Location:  #{chapter.location}"
                          %td.tb-3-4
                            %h5.label-20= chapter.created_at.strftime("%B %d, %Y")
                            - if chapter.incubated?
                              %h5.label-20.flt-right.td-approved= "Approved on #{chapter.approved_on.strftime("%b %d, %Y")}"
                            - else
                              %h5.label-20.flt-right= "Rejected on #{chapter.rejected_on.strftime("%b %d, %Y")}"
                          %td.tb-4-4
                            %a.bg-cross-b{:href => "#"}
                  - else
                    %li
                      %table.table-b
                        %tr
                          %td.tb-1-4
                            %a.bg-profile-img-b{:href => "#"}
                              %img.profile-img-b{:src => "/assets/img-d.png"}/
                          %td.tb-2-4
                            %a.label-43{:href => "#", :style => "position: relative;"}
                              = chapter.user.fullname
                              %span{:id => "approve-reject#{chapter.id}" , :style=>"font-size: 12px;text-align: right;left: 512px;position: absolute;width: 200px;"}
                                %button.btn-a-small.change_status{:style => "top:-3px;","data-url" => "#{change_status_admin_chapter_path(chapter, :status => 'incubate')}"} APPROVE
                                %button.btn-a-small.change_status{:style => "top:-3px;","data-url" => "#{change_status_admin_chapter_path(chapter, :status => 'deny')}"} REJECT
                            %h5.label-20= chapter.created_at.strftime("%B %d, %Y")
                            %h5.label-20= "Location:  #{chapter.location}"
                            %h5.label-20= "Emai: #{chapter.user.email}"
                            %br/
                            %p.label-26{:style => "padding-right:0px"}
                              = chapter.messages.root.body
                          %td.tb-3-4{:style => "width:150px;"}
                          %td.tb-4-4
                            %a.bg-cross-b{:href => "#"}
                      %table.table-b{:id => "chapter#{chapter.id}"}
                        = render :partial => "message" , :locals => {:chapter => chapter}