!!!
%html
  %head
    %title CloudfoundryUsergroups
    = stylesheet_link_tag "application", "chapters","my-profile"
    = javascript_include_tag "application"
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/googleapis/0.0.4/googleapis.min.js", :type => "text/javascript"}
    %script{:src => "//ajax.googleapis.com/jsapi", :type => "text/javascript"}
    :javascript
      google.load("identitytoolkit", "1", {packages: ["ac"], language:"en"});
    :javascript
      $(function() {
        window.google.identitytoolkit.setConfig({
            developerKey: "AIzaSyB8IrA9iaoSnQZbagf2rGxbIOk41IRKUA8",
            companyName: "cloudfoundry usergroups",
            callbackUrl: "#{verify_user_url()}",
            realm: "",
            userStatusUrl: "/user_status",
            loginUrl: "/login",
            signupUrl: "/sign_up",
            homeUrl: "/profile",
            logoutUrl: "/logout",
            idps: ["Gmail", "Yahoo"],
            tryFederatedFirst: true,
            useCachedUserStatus: false,
            useContextParam: true
        });
        $("#navbar").accountChooser();
      });
    = csrf_meta_tags
  %body
    = render "shared/federated_header"
    = render "shared/header"
    = yield
    = render "shared/footer"
    = yield :scripts